:root {
	--highlight1: rgb(128, 196, 241);
	--highlight2: rgb(233 32 99);
	--highlight3: rgb(255, 70, 132);
	--backcolor1: rgb(46, 48, 62);
	--backcolor2: rgb(30, 32, 42);

	--highlight1: rgb(128, 196, 241);
	--highlight2: rgb(233 32 99);
	--highlight3: rgb(255, 70, 132);
	--backcolor1: rgb(13 17 23);
	--backcolor2: rgb(9 12 14);
}

body {
	background-color: var(--backcolor1);
	margin: 0;
	
	-ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

	color: gainsboro;
}
body::-webkit-scrollbar {
    display: none;
}


header {
	font-family: 'Roboto', sans-serif;
	background-color: var(--backcolor1);
	display: flex;
	flex-direction: row;
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid rgb(39 39 39);
	/* box-shadow: 0 0 10px rgba(49, 49, 49, 0.5); */
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	margin: 0;
	/* border-bottom: 1px solid rgba(80, 80, 80, 0.5); */
}

nav div {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

nav p {
	margin: 0;
}

.myButton {
	margin: 0;
	padding: .25rem 1rem;
	border-radius: .5rem;
	font-weight: 400;
	margin: 0 1rem;
	transition: color .5s ease;
}

.myButton:hover {
	cursor: pointer;
	color: white;
	font-weight: 600;
}

#logo1 {
	font-size: 3rem;
	font-weight: 100;
	margin: 0;
	margin-left: 2rem;
	margin-bottom: 4px;
	color: var(--highlight1)
}

#logo2 {
	font-size: 3rem;
	font-weight: 100;
	margin: 0;
	margin-right: 2rem;
	color: var(--highlight2)
}

main {
	background-color: var(--backcolor2);
	margin: 0;
	margin-top: 62px;
	overflow-y: auto;
}

@media screen and (max-width: 600px) {
	#logo1 {
		font-size: 2rem;
		margin-left: 1rem;
	}
	#logo2 {
		font-size: 2rem;
		margin-right: 1rem;
	}
}

.outarea {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: calc(100vh - 60px);
	align-content:flex-start
}

.peerbox {
	background-color: var(--backcolor1);
	border-radius: 1rem;
	display: grid;
	grid-template-columns: 1fr 3fr;
	margin: .5rem;
	padding: .5rem;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

#demo_peerbox {
	display: none;
}

.peerlabel {
	grid-column-start: 1;
	margin: .25rem 1rem;
	max-width: 150px;
}

.peeritem {
	grid-column-start: 2;
	margin: .25rem 1rem;
}

.peerbox p {
	margin: 0;
}

.outputbox {
	background-color: var(--backcolor1);
	border-radius: 1rem;
	margin: .5rem;
	padding: .5rem;
	font-family: 'Roboto Mono', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

.outputbox p {
	margin: .3rem;
}

.highline {
	color: var(--highlight1);
}

