<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>test</title>
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
</head>
<body>
	<div id="container">
		<div>
			<p id="mline">Hello</p>
		</div>
		<form id="form">
			<input type="text" id="msgLine" placeholder="Message">
			<button id="submit">Submit</button>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
